<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.GrowSmartApplication"
        tools:targetApi="31">

        <!-- Google Play Services Version -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- Splash Screen (Launch Activity) -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.GrowSmartApplication.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Authentication Activities -->
        <activity
            android:name=".LoginPage"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".sinUpPage"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- Main Activities -->
        <activity
            android:name=".drawyerLayout"
            android:exported="false" />

        <!-- Removed HomePage as it's not used -->
        <!-- <activity android:name=".HomePage" android:exported="false" /> -->

        <!-- Feature Activities -->
        <activity
            android:name=".cropRecomndationPage"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".ResultActivity"
            android:exported="false" />

        <activity
            android:name=".ResultDetailActivity"
            android:exported="false" />

        <activity
            android:name=".HistoryActivity"
            android:exported="false" />

        <!-- Settings & Info Activities -->
        <activity
            android:name=".setting_menuPage"
            android:exported="false" />

        <activity
            android:name=".ProfileSettingsActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".NotificationsActivity"
            android:exported="false" />

        <activity
            android:name=".AboutAppActivity"
            android:exported="false" />

        <activity
            android:name=".HelpSupportActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".PlantScanActivity"
            android:exported="false" />
        <activity
            android:name=".PlantDiseaseResultActivity"
            android:exported="false" />

    </application>

</manifest>